$background-nav: #f9fafc;

.top-nav {
  position: fixed;
  top: 0;
  height: 80px;
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  // background: $background-nav;
  
  .logo {
    max-width: 50px;
    padding: 0 ds-space(extra-loose);

    @include respond-to(phone) {
      max-width: ds-space(extra-loose);
      padding: 0 ds-space(base);
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;

    li {
      padding: 0 ds-space(extra-loose);
      text-transform: uppercase;
      font-size: ds-font-size(caption);

      @include respond-to(phone) {
        padding: 0 ds-space(base);
      }

      a {
        color: ds-color(neutral, 500);
        transition: all ds-easing(base) ds-speed(slowest);

        &:hover {
          color: ds-color(primary, 400);
          cursor: pointer;
        }
      }

      .top-nav-link-isActive {
        color: ds-color(primary, 400);
      }
    }
  }
}

