.design-system-page {
  .hero-container {
    .ds-logo {
      margin-left: 80px;
      max-width: 600px;
    }

    .ds-overline-text-style {
      margin-top: ds-space(loose);
    }

    .project-btn__cta {
      margin-top: ds-space(super-loose);
    }
  }
}