.about-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

 .taking-clients {
   position: absolute;
   bottom: - ds-space(super-loose);
   right: ds-space(super-loose);
   color: ds-color(neutral, 600);
   max-width: 35ch;
 }

  .profile-img {
    max-width: 600px;
    border-radius: 10px;
    object-fit: cover;
    clip-path: polygon(53% 0, 100% 0, 100% 49%, 58% 100%, 0 100%, 0 49%);
  }

  .text-container {
    padding: ds-space(extra-loose) ds-space(extra-loose)* 1.5  ;
    max-width: 60ch;
    position: relative;
  }
}