.home-wrapper {
  display: grid;
  grid-row-gap: 300px;
  grid-template-columns: 100%;
  position: relative;
  padding-bottom: 200px;
  overflow: hidden;

  @include respond-to(phone) {
    p {
      font-size: ds-font-size(body2);
    }

    padding-bottom: 100px;
    grid-row-gap: 100px;

    .home-contact-links {
      text-align: center;
    }
  }

  .portfolio-logo-img {
    width: 100%;
    max-width: 723px;
    // margin-bottom: -40px;
    filter: drop-shadow(0 50px 5px rgba(0,0,0,.07));

    @include respond-to(phone) {
      width: 80%;
      margin: 0 auto 40px auto;
    }
  }

  .hero-button-text-style {
    color: ds-color(neutral, 500);
    letter-spacing: 1px;
    margin-bottom: 50px;
  }

  .hero-subheading-text {
    max-width: 664px;
    color: ds-color(neutral, 600);
    font-weight: ds-font-weight(light);
    text-align: center;

    @include respond-to(phone) {
      font-size: ds-font-size(body1);
      padding: ds-space(base);
    }
  }

  .home-quote-statement {
    max-width: 600px;
    margin: 0 auto;
  }

  .number {
    position: absolute;
    margin-right: 32px;
    max-width: 208px;
    top: -124px;
    left: -114px;
    z-index: -1;

    @include respond-to(phone) {
      max-width: 88px;
      top: - ds-space(extra-loose);
      left: 0;
    }
  }

  .project-card-title-container {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: ds-color(neutral, 000);
    text-transform: uppercase;
    display: block;
    text-align: right;

    .ds-overline-text-style {
      color: ds-color(neutral, 000);
      text-align: right;
      display: block;

      @include respond-to(phone) {
        display: none;
      }
    }

    .project-title {
      margin-top: ds-space(base);
      margin-bottom: ds-space(base);
      color: ds-color(neutral, 000);

      @include respond-to(phone) {
        font-size: ds-font-size(H4);
        margin-top: ds-space(extra-tight);
        margin-bottom: ds-space(extra-tight);
      }
    }

    .project-card__footer-text {
      color: ds-color(neutral,200);

      @include respond-to(phone) {
        display: none;
      }
    }
  }

  .project-link, .class-link {
    min-width: 80%;
    display: block;
    margin: 0 auto;

    @include respond-to(phone) {
      margin: 0;
    }
  }

  .class-link {
    position: relative;
    margin-top: 400px;


    @include respond-to(phone) {
      margin-top: 200px;
    }
  }

  .section-title-container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;

    @include respond-to(phone) {
      margin: 0;
    }

    &.design-process-title {
      grid-area: design-process-title;
    }

    img {
      display: block;
      max-height: 200px;
      max-width: 450px;
      margin: 0 auto;
    }
  }

  .home-brush-lettering {
    position: absolute;
    min-width: 800px;
    height: 200px;
    opacity: .2;
    z-index: -1;

    &.process {
      top: 150px;
      right: -100px;
      transform: rotate(-10deg);

      @include respond-to(phone) {
        right: 0px;
        min-width: 400px;
        height: 100px;
      }
    }

    &.class {
      top: -150px;
      left: -100px;
      transform: rotate(-10deg);

      @include respond-to(phone) {
        top: -100px;
        left: 0;
        min-width: 400px;
        height: 100px;
      }
    }

    &.thoughts {
      min-width: 800px;
      top: -120px;
      left: -100px;
      transform: rotate(-10deg);

      @include respond-to(phone) {
        top: -100px;
        right: -160px;
        min-width: 400px;
        height: 100px;
      }
    }
  }

  .design-process-img2 {
    margin: 0 auto;
    max-width: 800px;;
  }


  .design-process-path1 {
    grid-area: "design-process-path1";
    z-index: -2;

    @include respond-to(phone) {
      max-width: 370px;
    }
  }

  .design-process-path2 {
    grid-area: "design-process-path2";
    z-index: -2;

    @include respond-to(phone) {
      max-width: 370px;
    }
  }

  .design-process-path3 {
    grid-area: "design-process-path3";
    z-index: -2;

    @include respond-to(phone) {
      max-width: 370px;
    }
  }

  .design-process-path4 {
    grid-area: "design-process-path4";
    z-index: -2;

    @include respond-to(phone) {
      max-width: 370px;
    }
  }

  .design-process-path5 {
    grid-area: "design-process-path5";
    z-index: -2;

    @include respond-to(phone) {
      max-width: 370px;
    }
  }


  .home-posts-container {
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-row-gap: ds-space(extra-loose);
    grid-template-columns: 1fr 1fr 1fr;

    @include respond-to(phone) {
      grid-template-columns: 1fr;
    }

    a {
      border-radius: 8px;
      // display: inline;
      color: inherit;
      width: 400px;
      margin-top: 20px;
      box-shadow: ds-depth(100);
      transition: all ds-easing(base) ds-duration(slowest);
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      .img-thumbnail {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 268px;
        border-radius: 10px 10px 0 0;
      }

      .post-text-container {
        padding: 1rem 1.5rem;
        border-radius:0 0 10px 10px;
      }

      h6 {
        margin: 0 0 ds-space(extra-tight) 0;
      }

      span {
        color: ds-color(neutral, 500);
      }

      &:hover {
        box-shadow: ds-depth(300);
      }
    }
  }
}

