.home-wrapper {
  display: grid;
  grid-row-gap: 300px;
  grid-template-columns: 100%; 


  .portfolio-logo-img {
    width: 100%;
    max-width: 723px;
    margin-bottom: 100px;
    filter: drop-shadow(0 50px 5px rgba(0,0,0,.06));
  }

  .hero-button-text-style {
    color: ds-color(neutral, 500);
    letter-spacing: 1px;
    margin-bottom: 50px;
  }

  .hero-subheading-text {
    max-width: 664px;
    color: ds-color(neutral, 500);
    text-align: center;
  }

  .home-quote-statement {
    max-width: 600px;
    margin: 0 auto;
  }

  .work-lettering {
    width: 100%;
    display: block;
    max-width: 350px;
    margin: 0 auto; 
  }

  .number {
    position: absolute;
    top: -200px;
    left: -20px;
    display: block;
    max-width: 100px;
    margin: 15rem auto 0 auto;
    z-index: -1;
  }

  .project-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ds-video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: ds-space(super-loose);
  }

  .ds-img-browser {
    max-width: 750px;
    margin-left: ds-space(extra-loose)
  }

  .project-button-container {
    display: grid;
    grid-gap: ds-space(base);
    grid-row-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    margin-top: ds-space(extra-loose);
  }

  .yolko-img-project {
    max-width: 340px;
  }

  .yolko-img-project2 {
    margin-top: ds-space(super-loose);
    max-width: 800px;
  }

  .carousel-slide-btn {
    background: transparent;
    border: none;
    color: ds-color(neutral, 400);
    transition: ds-speed(slowest) ds-easing(base) all;

    &:hover {
      color: ds-color(neutral, 700);
    }
  }

  .video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: ds-space(super-loose);
    
    iframe {
      box-shadow: ds-depth(500);
    }
  }

  .home-posts-container {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;

    a {
      display: block;
      color: inherit;
      width: 400px;
      height: 100%;
      margin-top: 20px;
      box-shadow: ds-depth(100);
      transition: all ds-easing(base) ds-duration(slowest);

      .img-thumbnail {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 268px;
        border-radius: 10px 10px 0 0; 
      }

      .post-text-container {
        padding: 1rem 1.5rem;
        border-radius:0 0 10px 10px;
      }
      
      .ds-subheading-text-style {
        margin: 0;
      }

      span {
        color: ds-color(neutral, 500);
      }

      &:hover {
        box-shadow: ds-depth(300);
      }
    }
  }
}

