.number2 {
  position: absolute;
  margin-right: 32px;
  max-width: 160px;
  top: -124px;
  left: -114px;
  z-index: -1;;
}

.project-card-title-container {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: ds-color(neutral, 000);
  text-transform: uppercase;
  display: block;
  text-align: right;

  .special-text-styling {
    color: ds-color(neutral, 000);
    text-align: right;
    display: block;
  }

  .ds-display2-text-style {
    margin-top: ds-space(base);
  }

  .project-card__footer-text {
    color: ds-color(neutral,200);
  }
}

.project-link {
  min-width: 90%;
  display: block;
  margin: 0 auto;
}

.design-process-img2 {
  margin: 0 auto;
  max-width: 800px;;
}