@import '../../node_modules/oskrhq-design-system/lib/styles/styles.scss';
// Pages
@import './pages/home-page.scss';
@import './pages/home2-page.scss';
@import './pages/project-page.scss';
@import './pages/projects/yolko-page.scss';
@import './pages/projects/ds-page.scss';
@import './pages/projects/client-page.scss';
//Components
@import './components/portfolio-footer.scss';
@import './components/design-process-card.scss';


html {
  background: #f9fafc;

  .ds-subheading-text-style {
    // line-height: 32px;
    // font-size: 17px;
  }

  .crafted-quote {
    font-size: ds-font-size(title);
    padding: ds-space(bit-loose);
    color: ds-color(primary, 400);

    .strikethrough {
      text-decoration: line-through;
    }
  }

  .special-text-styling {
    font-size: 14px;
    color: #828890;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .section-title {
    text-align: center;
    margin-top: 100px;
    color: ds-color(neutral, 500);
    text-transform: uppercase;
    font-weight: ds-font-weight(title, base);
  }
}