$breakpoints: (
  phone:  767px,
  tablet: 992px,
  desktop:  1200px
);

/// Mixin to manage responsive breakpoints
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}


@import 'node_modules/oskrhq-design-system/styles/styles.scss';
// Pages
@import './pages/home-page.scss';
@import './pages/about-page.scss';
@import './pages/project-page.scss';
@import './pages/projects/yolko-page.scss';
@import './pages/projects/ds-page.scss';
@import './pages/projects/client-page.scss';
//Components
@import './components/portfolio-footer.scss';
@import './components/design-process-card.scss';
@import './components/top-nav.scss';

html {
  background: #f9fafc;

  .crafted-quote {
    font-size: ds-font-size(title);
    padding: ds-space(bit-loose);
    color: ds-color(neutral, 600);
    font-style: italic;

    @include respond-to(phone) {
      font-size: ds-font-size(subheading);
      padding: ds-space();
    }
  }

  .strikethrough-text {
    text-decoration: line-through;
  }

  .special-text-styling {
    font-size: 14px;
    color: #828890;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .section-title {
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: ds-font-weight(title, base);
  }

  li {
    @include respond-to(phone) {
      font-size: ds-font-size(body1);
    }
  }

}
